option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SECRET_KEY": "$0y_3d^rex35nsn&+h@!im^y*e_mj2l=iby6n(6g580q9l!c-f"
    "DATABASE_NAME": "test"
    "DATABASE_USER": "admin"
    "DATABASE_PASSWORD": "four_artist"
    "AWS_ACCESS_KEY_ID": "AKIA4GXY6W2KPYSYU2KV"
    "AWS_SECRET_ACCESS_KEY": "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"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
